nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: justify;
    padding: 18px 18px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color:rgb(112, 112, 112);
  }
  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #AAA;
    text-align: center;
  }
  main{
    width: 60%;
    padding: 60px 30px;
    margin: auto;
  }
  body{
    background-color: rgb(112, 112, 112);
  }